<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ada Lovelace</h1>
    <p>Considerada la primera mujer programadora de la historia.</p>
    <p>Para situar a Ada Lovelace basta con echar un vistazo a su familia. Su padre, Lord Byron, fue uno de los poetas románticos más importantes de la historia de la literatura. Aunque en un campo totalmente diferente, su hija también destacó y pasó a la historia; sin embargo, la obra del escritor ha sido la que ha trascendido.</p>
    <p>Ada Lovelace nació a finales del año 1815. Cuando su madre se separó de su padre, la chica perdió todo contacto con él: el poeta murió cuando su hija solo tenía 9 años. De mayor, se interesó por el mundo de las matemáticas.</p>
    <p>Antes de cumplir 30 años se interesó por un prototipo de ordenador, creado por el matemático Charles Babbage. Tradujo un artículo de un matemático italiano sobre el invento, al que añadió notas de su propia cosecha que, años más tarde, han sido consideradas como el primer (y primitivo) programa de ordenador, en las que describió el funcionamiento de la máquina. Además, fue capaz de pronosticar que las máquinas de cálculo serían, algún día, algo más que eso.</p>
    <img src="/Lovelace.jpg" alt="">
</body>
</html>